<html>

<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}" />
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
  <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>

<body>
  <form width:100%; height:350px; margin:auto; position:relative; action="" method="POST" name="form">
    <h1>Better Safe Than Sorry</h1>
    <br> {{ form.hidden_tag() }}
    <div class="form-group" style="height:100px;" id="gpg">
      <label class="control-label" for="gpg_format"></label>
      <br> {{ form.gpg_format (size=50,width=100) }}
      <br><br>
      <input id="pass_action" type="submit" name="action" value="Get Password">
      <input id="hash_action" type="submit" name="action" value="Get Hash" align="right">

      <br>
    </div>
    <h2 id='info' style="color:blanchedalmond; float:right">
      <u>How To:</u><br>
      Encryption: Type your Password and Press "Get Hash"<br>
      </br>Decyption : Type your hash and Press "Get Password"
    </h2>

    <div style="display: inline-block;
      position: fixed;
      color: azure;
      font-size: 150%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 200px;
      height: 450px;
      margin: auto;">
      {{ data }}
    </div>
    </div>
    <br>
  </form>

</body>

</html>