<!doctype html>
<html class="no-js" lang="">
    <META HTTP-EQUIV="refresh" CONTENT="900">
<head>
    <!--meta http-equiv="refresh" content="5" -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mystyle.css') }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"/>
    <script>
    </script>
    <script src="{{ url_for('static', filename='js/sortable.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/modernizr-2.8.3-respond-1.4.2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/jquery-1.11.2.min.js') }}"></script>
</head>

<body>
    {% block title %} {% endblock %} {% block content %}
    <h2>AWS Instances State
            <form name="ec2" width:2px; action="{{ url_for('aws_storage') }}" method="POST">
                <input type="submit" name="ec2" value="Refresh ec2 info" onclick="alert('Refresh to ec2 instance is now being proccessed')" > </button>
                </form>
    </h2>
    <table id="awsTable" class="sortable-theme-bootstrap" data-sortable border="1" solid black width="100%">
        <tr class="headers">
            <th>Area</th>
            <th>Name</th>
            <th>Status</th>
            <th>Up Time</th>
            <th>Public IP</th>
            <th>Ami</th>



            <tr>

                {% for s in instance_list %}
                <tr>
                    <td solid black>{{s[0]}}</td>
                    <td>{{s[1]}}</td>
                    {% if "terminated" in s[2] %}
                    <td bgcolor="red">{{s[2]}}</td>
                    {% else %} <td>{{s[2]}}</td>{% endif %}
                    <td>{{s[3]}}</td>
                    <td>{{s[4][0]}}</td>
                    <td>{{s[5]}}</td>


                </tr>


                {% endfor %}

    </table>

    <div style="clear:both;"></div>
    <h2>AMI List
            <form name="ami" width:2px; action="{{ url_for('aws_storage') }}" method="POST">
                    <input type="submit" name="ami" value="Refresh Ami list" onclick="alert('Refresh to Ami list is now being proccessed')" > </button>
                    </form>
    </h2>
    <table id="awsTable" class="sortable-theme-bootstrap" data-sortable border="1" solid black width="100%">
        <tr class="headers">
            <th>Region</th>
            <th>Ami Name</th>
            <th>Ami ID</th>
            <th>Ami Created</th>
            <th>EBS Size(GB)</th>



            <tr>

                {% for ami in images %}
                <tr>
                    <td solid black>{{ami[0][0] }}</td>
                    <td>{{ami[1][0]}}</td>
                    <td>{{ami[2][0]}}</td>
                    <td>{{ami[3][0]}}</td>
                    <td>Number of Disks:{{ami[5]}}
                        <br>( {{ami[4][0]}} {{ami[4][1]}} {{ami[4][2]}} {{ami[4][3]}})</td>


                </tr>


                {% endfor %}

    </table>

    {% endblock %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>
        window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')
    </script>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>
