<!doctype html>
<html class="no-js" lang="">

<head>
        <style> 
                select {
                    width: 5%;
                    padding: 5px 5px;
                    padding-right: 10%;
                    border: none;
                    border-radius: 4px;
                    background-color: #e4dfd8;
                }

                form{
                    width: 20%;
                    float: right;
                    padding-bottom: 20px;
                }
                label{
                    width: 20%;
                    color: aliceblue;
                }
                input[type=text]{
                    padding-left: 10px;
                }
                input[type=submit]{
                    padding-left: 10px;
                }
                </style>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="Site for Gamefly Operation Info">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sortable-theme-bootstrap.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/normalize.min.css') }}"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"/>
    
    <script src="{{ url_for('static', filename='js/sortable.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/modernizr-2.8.3-respond-1.4.2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/jquery-1.11.2.min.js') }}"></script>
    
</head>

<body>



    <div class="main-container">
        



            {% block content %} 
            
            {% endblock %} 
  



        <!-- #main -->
    </div>
    <!-- #main-container -->


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')
    </script>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>