<html style="background-color:black;">

<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/chef.css') }}" />
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
  <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>
{% with messages = get_flashed_messages() %} {% if messages %}
<ul class=flashes>
  {% for message in messages %}
  <li>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %} {% endwith %}

<body style="background-color:black;">
  <form width:100%;margin:auto; position:relative; action="{{ url_for('chef_action') }}" method="POST" name="chef_form">
    <div style="
            display: inline-block;
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            padding:300px 50px 50px 50px;
            width: 50%;
            height: 100%;
            color:whitesmoke;
            background-color:black;
            margin: auto;" class="col-md-4 col-md-offset-4">
      <h1>CHEF Actions</h1>
      {{ cform.hidden_tag() }}
      <p>
        {{cform.node_role.label}}
        <br> {{cform.node_role }}
      </p>
      <p>
        {{ cform.node_action.label }}
        <br> {{ cform.node_action }}
      </p>

      <p>{{ cform.nodename.label }}
        <br>{{ cform.nodename (size=30, maxlength=50) }} </p>
      <p> {{ cform.recipe_name.label }}
        <br> {{ cform.recipe_name (size=30, maxlength=50)}}</p>
      <br>
      <p>{{ cform.node_info.label }}
        <br> {{ cform.node_info }}</p>
      <p>{{ cform.submmitcf (size=30, maxlength=50)}}</p>
      <br>
      <div>
      {% if recipe_info %}
      
      <table class='fixed_headers' style="width:100%";>
        <thead class="head">
        <tr>
          <th>Node Name</th>
          <th colspan="10">Run List</th>
        </tr>
      </thead>

        <tbody class="body">
        {% for recp in recipe_info %}

        <tr>
          <td bgcolor="#ffffe6" ;class="names">{{recp.name}}</td>
          {% for re in recp.run_list %}
          <td bgcolor="#ffff80";id="recipe">{{ re}}</td>
          <td class="color"></td>
          {% endfor %}
        </tr>

        <tr>
          <td id="separate"></td>
        </tr>
        {% endfor %}
      </tbody>
      </table>
    </div>
    {% endif %}
  </div>
  </form>
</body>

</html>