{% extends "base.html" %}

<script>

/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(e) {
  if (!e.target.matches('.dropbtn')) {
    var myDropdown = document.getElementById("myDropdown");
      if (myDropdown.classList.contains('show')) {
        myDropdown.classList.remove('show');
      }
  }
}

$(document).ready(function() {
    $('gform').submit(function (e) {
        var url = "{{ url_for('main_view') }}"; // send the form data here.
        $.ajax({
            type: "POST",
            url: url,
            data: $('gform').serialize(), // serializes the form's elements.
            success: function (data) {
                alert(data)  // display the returned data in the console.
            }
        });
    });
});


</script>

{% block title %} {% endblock %}

  
{% block content %} 

<div id="headline">
 
      
      
      <nav id="login"><ul class="nav navbar-nav navbar-right"></ul>
            {% if current_user.is_authenticated() %}
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% else %}
                <li><a href="{{ url_for('login') }}">Login</a></li>
            {% endif %}
        </ul>
    </nav>
    <a style="color:red;"href="https://control.softlayer.com">Soflayer Site</a> &nbsp;<a style="color:red;"href="{{ url_for('aws_storage') }}">aws</a>
        <form style="position:left;padding-bottom:20px" name="game_form" width:2px; action="{{ url_for('main_view') }}" method="POST">
            <fieldset id="games">
                <legend>Games</legend>
                {{ gform.hidden_tag() }}
                <div style="position:left" >
                    {{gform.name.label}}<br>
                    {{gform.game_id_field}} <button id="subgame" type="button" style="margin:5px;">get game</button>
                    <p style="color:White;">{{result}}</p> 

                </div>
            </fieldset>
        </form>
        
    
            <form style="position:left;padding-bottom:20px" name="restart_form" width:2px; action="{{ url_for('main_view') }}" method="POST">
                <fieldset>
                    <legend>Actions</legend>
                    {{ rform.hidden_tag() }}
                    <div style="position:left" >
                        {{rform.name.label}}<br>
                        {{rform.restart_id_field}} {{ rform.submitsl }}<br>
                    {{rform.restart_options}}
                    </div>
                    
                </fieldset>
                </form>

        </div>

<table id="physical" class="sortable-theme-bootstrap" data-sortable border="1" solid width="100%">
    
    <tr class="headers">
        <th onclick="sortTable(0, physical)">ID</th>
        <th onclick="sortTable(1, physical)">Cost</th>
        <th onclick="sortTable(2, physical)">Data Center</th>
        <th onclick="sortTable(3, physical)">Public</th>
        <th onclick="sortTable(4, physical)">Private</th>
        <th onclick="sortTable(5, physical)">Created</th>
        <th onclick="sortTable(6, physical)">Bandwidth(GB)</th>
        <th onclick="sortTable(7, physical)">Disk Size(GB)</th>
        <th onclick="sortTable(8, physical)">IPMI</th>
        <th onclick="sortTable(9, physical)">GPU</th>
        <th onclick="sortTable(10, physical)">CPU</th>
        <th onclick="sortTable(11, physical)">Board</th>
        <th onclick="sortTable(12, physical)">Open Tickets</th>
        
    </tr>
    {% for i in class_sl %}  
    <tr>
     
        <td title="{{i[0]}}" class="status">
            <p>GSS ID: {{i[0][0]}}</p>
            <p>AREA ID: {{i[20][0]}}</p>
            <p>SL ID: {{i[12][0]}}</p>

        </td>
        <td class="cost">{{i[1][0]}}&#36 </td>
        <td style="width:10%" class="data center">{{i[2][0]}}</td>
        <td class="public"><p style="font-weight:bold">IP: <a href="#" onclick="damewere('{{i[3][0]}}')"> {{i[3][0]}} </a></p>
            <p >DG: {{i[15][0]}}</p>
            <p >MASK: {{i[16][0]}}</p>
        </td>
        <td class="private"><p p style="font-weight:bold">IP: {{i[4][0]}}</p>
            <p>DG: {{i[13][0]}}</p>
            <p>MASK: {{i[14][0]}}</p>
        </td>
        <td class="created">{{i[5][0]}}</td>
        <td class="bandwidth">{{i[6][0]}}</td>
        <td class="disks" style="width:10%;"><p>DISK 1: {{i[7][0]}}</p><br>
            <p>DISK 2: {{i[7][1]}}</p>
        </td>
        <td class="ipmi">{{i[8][0]}}<br>
           <a href={{i[9][0]}} target="_blank">VPN Site</a><br>
           <br>
           <button type="button" onclick='alert("{{i[17][0]}}");'>Show Password</button>
        </td>
        <td class="gpu" style="width:10%;"><p>GPU 1:{{i[10][0]}}</p><br>
            <p>GPU 2: {{i[10][1]}}</p>
        </td>
        <td class="cpu">{{i[18]}}</td>
        <td class="board">{{i[19]}}</td>
        <td>{{i[11][0]}}</td>
        

    </tr>

        
  {% endfor %}

</table>




<script src="../static/js/sort.js"></script>
<script src="../static/js/search.js"></script>  
<script>var search = new Search("/games/api/v1.0/games/");</script>
<script src="{{ url_for('static', filename='js/damewere.js') }}"></script>

{% endblock %} 