<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}" />
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
  <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>
<body>
<form width:100%; height:450px; margin:auto; position:relative; action="" method="POST" name="form">
  <div style="
            display: inline-block;
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 200px;
            height: 450px;
            margin: auto;" class="col-md-4 col-md-offset-4">
            <h1>Welcome To GFS OPS</h1>
    {{ form.hidden_tag() }}
    <div class="form-group">
      <label class="control-label" for="username">Username</label>
      {{ form.username (size=20) }}
    </div><br>
    <div class="form-group">
      <label class="control-label" for="password">Password</label>
      {{ form.password }}
    </div><br>
    <button class="btn btn-default" type="submit">Submit</button>
  </div>
</form>

</body>
  
</html>