
 h1{
     color: azure;
 }

 .fixed_headers th:nth-child(1) {
    min-width: 200px;
    text-align: left;
}

.fixed_headers th, .fixed_headers td {
    padding: 1px;
    text-align: left;
}

#separate{
    background-color: green;
    height: 5px;
}

td, th {
    display: table-cell;
    vertical-align: inherit;
}

tbody.body {
    display: block;
    overflow: scroll;
    height: 300px;
    text-align: center;
}

thead.head{
    position: relative;
    display: block;
    background-color: #4CAF50;
    color: white;
    

}

.fixed_headers thead tr {
    display: block;
    position: relative;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}


thead.head td{
    width: 10px;
}



td.color{
    width: 4px;
    background-color: gray;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.fixed_headers tbody {
    display: block;
    overflow: auto;
    width: 100%;
    height: 300px;
}

.fixed_headers th.names{
    min-width: 10px;
    width: 20px;
    
}