
/* Custom AWS Table*/
#awsTable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #awsTable td, #awsTable th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #awsTable tr:nth-child(even){background-color: #f2f2f2;}
  
  #awsTable tr:hover {background-color: #ddd;}
  
  #awsTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }
