body {
    background-image: url("../black.jpg");
}

div{
    color: azure;
}

#info{
    padding-right: 20px; 
    position: initial;
    display: inline;

}

#gpg{
    left: 200px;
    right: 0;
    padding-left: 400px
}
#password{
    left: 200px;
    right: 0;
    padding-left: 200px
}

h1 {
    color: azure;
    text-align: center;

}



label {
    color: azure;
    text-align: center;
}

#result {
    all: unset;
    color: azure;
    text-align: left;
    vertical-align: -webkit-baseline-middle
}

#pass_action{
    right: 200px;
}

#hash_action{
    left: 150px;
    padding-right: 20px;
}