/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color:  rgb(105, 97, 97);
    font-size: 1em;
    line-height: 1.4;
    background: rgb(105, 97, 97);
}

::-moz-selection {
    background: #fcb3b3;
    text-shadow: none;
}
.item_game{
    color:whitesmoke;
}
::selection {
    background: #dafcb3;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

table{
    border-collapse: collapse;
    
}


th{
    display: table-cell;
    vertical-align: m;
    font-weight: bold;
    text-align: center;
    padding-left: 10px;
    font-size: large;
    color: whitesmoke;
    background-color: #0F0F0E;
}


td.status{

    background-color: green;
}
td.gpu {

    background-color: coral

}
td{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    color: #010002;
    background-color:#D9E2D1;
    padding-bottom: -10%
    
}


tr{
    border: 2px solid black ;
}


select.restart-options{

    width: 65%;
    
}
/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Arial, Helvetica, sans-serif;
    background-color: black;
}

.wrapper {
    width: 90%;
    margin: 0 5%;


}



/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
    border-bottom: 1px solid #266CE4;
    padding-left:  85px;
}

.footer-container,
.main aside {
    border-top: 10px solid #655C59;
}

.header-container,
.footer-container,
.main aside {
    background: #DBDFE0;
}

.title {
    color: #0C0B0B;
    text-align: center;
}

/* ==============
    MOBILE: Menu
   ============== */

   nav{
    float: left;

   }

   nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: left;
    color: azure;
    text-align: center;
}

nav a {
    float: left;
    position: relative;
    
    text-decoration: #ECF0EC;
    font-weight: bold;
    color: #221F1F;
    

}

nav a:hover,


nav a:hover {
    text-decoration: underline;
}


/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



input[type=text] {
    width: 25%;
    box-sizing: border-box;
    color: rgb(231, 57, 57);
}
input[type=text]:focus {
    background-color: lightblue;
}

option{
    width: 10px;
    height: 2px;
}

#actions{
    float: right;
}
.restart_form{
    width: 30%;
    
}







/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
        float: left;
        width: 100%;
        margin: 0 1.7%;
        padding-right: 10px;
        margin-bottom: 0;
        color: azure;
    }

    nav li:first-child a {
        margin-left: 5;
    }

    li {
        display: inline-block;
        margin: 0 10px;
        border: 1px solid black;
        padding: 1px;
      }

    nav li:last-child a {
        margin-right: 5;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline-block;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    nav {
        float: left;
        width: 6%;
        padding-right: -25px;
        color: azure;
    }

/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 57%;
    }

    .main aside {
        float: right;
        width: 28%;
    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
